@tailwind base;
@tailwind components;
@tailwind utilities;

.Testimonials .swiper-pagination {
  bottom: 0 !important;
}
.activeNav {
  height: 70px;
  backdrop-filter: blur(20px);
  background-color: #09051aab;
  border-bottom: 1px solid #673ab7;
}
body {
  font-family: cursive !important;
  overflow-x: hidden;
}
